@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
  }
  
p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.name {
  margin-left: 300px;
}

.green {
  color: #2d9b14 !important;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--black:after {
  background-color: #242424;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

.languages{
  background-image: linear-gradient(0deg,transparent, #429895);
  margin: 0px;
  padding: 0px;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .language__title,
.dark-theme .language__name
{
  color: white;
}
.dark-theme section {
  background-color: #242424;
}
.dark-theme #personal-logo {
  filter: invert(1);
}
.dark-theme .scroll__icon {
  border-color: white;
}
.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
  background-color: white;
}
.dark-theme .mail__btn {
  background-color: white;
  color: #242424;
}
/* 

  LANDING PAGE 
  
*/
#landing-page {
  min-height: 100vh;
  background-image: linear-gradient(180deg,transparent,#429894);
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 600px;
}

.social__list {
  margin-top: 16px;
  margin-left: 1px;
}

.social__link {
  background-color: #2d9b14;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* 

  NAVIGATION 
  
*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

#personal-logo {
  width: 60px;
  height: 60px;
  filter: invert(0);
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}

/*

  LANGUAGES

*/
.language__title {
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding: 5px;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 24px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* 

  MODAL 
  
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}
.modal--open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}
.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__li
{
  transform: translateX(0%);
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__list{
    list-style-type:disc;
    margin-bottom: 10px;
}

.modal__li {
  transform: translateX(110%);
  background-color: #242424;
  color: white;
  position: relative;
  justify-content: center;
  display: flex;
  transition: all 300ms ease-in;
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}


.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #242424;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}



.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #2d9b14;
  font-size: 36px;
  z-index: 100;
}

/* 

  FOOTER 
  
*/

footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

/* 4K BIG SCREENS */

@media (max-width: 2560px) {
.title {
  font-size: 80px;
}
.header__para {
  font-size: 20px;
}
.modal__para{
  font-size:20px;
  }
.modal{
  width:100%;
  font-size:20px;
  }
}


/* Small phones, tablets, large smart phones */
@media (max-width: 1024px) {
.title {
  font-size: 80px;
}
.header__para {
  font-size: 20px;
}
.modal__para{
  font-size:20px;
  }
.modal{
  width:100%;
  font-size:20px;
  }
}
